data
loaded
logs
artifacts
ner_using_bert.egg-info
build
dist
notebooks
venv/
LICENSE
gcloud_check.py
model.pt
README.md
ner.csv
logs
.circleci
ids_to_labels.pkl
tokenizer.pkl
tips.txt
test.ipynb
.env

tips for VM-machine-setup.sh
